body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url(queen-7234169_1920.jpg);
    background-color: #fe7f55;
}

h1{
    color: #ffffff;
}

h2 {
    color: #000000;
}


.form-container {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #973003;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #a62c00;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}

.actions button {
    width: auto;
    margin: 0 5px;
}